page-home {
    #logo{
        background:transparent;
        height: 75px;
        width:200px;
    }
    .loginform{
        margin-top: 40px;
    }
    .button-row{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
